@import "../../../theme/common.less";

img{
  width: 110px;
  height: 110px;
}
p{
  margin: 6px 0;
}
.searchGroup{
  width: 100%;
  background-color: @cf-base-bg;
  border-bottom: 1px solid @cf-border-color;
  line-height: 52px;
}

.condition{
  float: left;
  color: #ffffff;
}
.label{
  float: left;
  margin: 0px 20px 0px 20px;
}
.card{
  float: left;
  width: 442px;
  height: 169px;
  background-color: @cf-card-color;
  border: 1px solid @cf-border-color;
  margin: 2vh 0px 0px 1vw;
  padding: 1vw;
  cursor:pointer
}
.camera{
  float: left;
  width: 110px;
  height: 110px;
  margin-bottom: 7px;
}
.faceTrack{
  float: right;
  width: 110px;
  height: 110px;
}
.textGroup{
  float: left;
  width: 160px;
  height: 110px;
  color: #ffffff;
  margin-left: 10px;
}


.modalBody > div {
  background-color: @cf-base-bg;
}
.modalHeader{
  width: 100%;
  height: 35px;
  .border-bottom;
  line-height: 35px;
  padding-left: 10px;
}
.modalHeaderTitle{
  color: @cf-border-color;
  font-size: 16px;
  font-weight: bold;
}
.modalHeaderClose{
  color: #ffffff;
  float: right;
  margin-right: 15px;
  cursor:pointer
}
.wrap{
  height: 100%;
  .border-right;
}
.content{
  height: 70%;
  overflow: auto;
}
.contentTwo{
  height: 92%;
  overflow: auto;
}
.imgList{
  margin-left: 16px;
  color: #ffffff;
}
.selectImg{
  width: 110px;
  height: 110px;
  display: inline-block;
  border: 2px solid @cf-border-color;
  cursor: pointer;
  margin: 12px 9px 0px 12px;
}
.selectImg img{
  width: 106px;
  height: 106px;
}
.notSelectImg{
  width: 119px;
  height: 119px;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  margin: 12px 0px 0px 12px;
}
.messageCard{
  margin: 16px;
  width: 340px;
  height: 113px;
  background-color: @cf-card-color;
  .border;
  cursor: pointer;
}
.selectesCard{
  margin: 16px;
  width: 340px;
  height: 113px;
  background-color: #164455;
  .border;
  cursor: pointer;
  box-shadow: #02abe3 0 0 1px 2px;

}
.reminderFont{
  text-align: center;
  color: @cf-reminder-color;
  font-size: 14px;
}
.sceneImg{
  margin: 16px;
  height: 348px;
  width: 611px;
  .border
}
.relevance{
  box-sizing: border-box;
  float: left;
  padding-top: 8%;
  height: 160px;
  width: 47.5%;
  margin-left: 16px;
  .border-top;
  .border-right;
  .border-left;
}
.addNew{
  box-sizing: border-box;
  padding-top: 8%;
  float: left;
  height: 160px;
  width: 47.5%;
  .border-top;
  .border-right;
}
.modalInput{
  float: left;
  height: 110px;
  width: 42%;
  margin-left: 16px;
}
.formItem{
  border-top: 1px solid @cf-base-bg;
  margin-bottom: 10px;
}
.fromlabel{
  display: inline-block;
  margin-right: 10px;
  width: 100px;
  text-align: right;
  color: #01ACE4;
}
.ku_icon{
  position: relative;
  bottom: 27px;
  left: 4px;
  width: 24px;
  height: 24px;
  background: url("../../../assets/ku.png") no-repeat;
  background-size: 24px 24px;
}
.pagination{
  position: absolute;
  left: 60px;
  bottom: 30px;
  width: calc(~'100% - 165px');
  height: 32px;
  color: @cf-border-color;
}

